.ant-drawer .ant-drawer-header {
  background-color: #473222 !important;
  color: white !important;
}

.ant-drawer .ant-drawer-body {
  padding: 0px !important;
  background-color: #473222 !important;
}

.ant-drawer .ant-drawer-content {
  border-radius: 0px !important;
}
.ant-drawer .ant-drawer-footer {
  display: none !important;
}
