.ant-drawer .ant-drawer-header {
  background-color: #473222;
  color: white;
}

.ant-drawer .ant-drawer-body {
  padding: 0px;
  background-color: #473222;
}

.ant-drawer .ant-drawer-content {
  border-radius: 0px !important;
}

.ant-drawer .ant-drawer-footer {
  display: none;
}
