// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Tailwind Ui Layers
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif !important;
}

// Custom Varaibles
:root {
  --navbarcolor: #270800;
}

body {
  background-color: #f8f9fa !important;
}

// Swiper Css
.swiper-button-prev:after,
.swiper-button-next:after {
  @apply bg-navbarColor text-white py-1 px-4 sm:py-2 sm:px-4 rounded-md;
}

// Modal Css
.ant-modal .ant-modal-close,
.ant-drawer-close {
  color: red !important;
}

.ant-modal .ant-modal-close:hover,
.ant-drawer-close:hover {
  color: red !important;
  background-color: rgb(252, 230, 230) !important;
}

.ant-modal-title {
  text-align: center !important;
  font-weight: 700 !important;
  font-size: 20px !important;
}

// Product Css
.product {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

// Modal Css
.ant-drawer .ant-drawer-header-title {
  flex-direction: row-reverse !important;
}

.ant-drawer .ant-drawer-title {
  font-size: 20px !important;
}

.ant-drawer .ant-drawer-close {
  margin: 0px !important;
}

// Modal and Drawer Mask Css
.ant-modal-root .ant-modal-wrap,
.ant-drawer .ant-drawer-mask {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

// Loader Css
.loader-container {
  @apply flex justify-center items-center h-screen;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #270800;
  border-right-color: #fff;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

// Ant Result Css
.ant-result-extra,
.ant-result-icon {
  margin: 0px !important;
}

.ant-result {
  padding: 0px !important;
}

// Input css
textarea:focus,
input:focus {
  box-shadow: 0 0 0 0.25rem rgba(39, 8, 0, 0.25) !important;
}

// Dashboard Css
.ant-layout-sider {
  background-color: #473222;
}

.ant-menu-dark {
  background-color: #473222;
}

.ant-menu-inline .ant-menu-item {
  height: 60px;
  line-height: 60px;
  font-weight: 600;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #dfd1b7 !important;
  color: black !important;
  border-radius: 8px !important;
}

.ant-menu-item-icon {
  font-size: 20px !important;
}

.ant-breadcrumb-link {
  color: black !important;
  font-weight: normal !important;
}

// Category Bar Css

.active-category {
  border-bottom: 2px solid var(--navbarcolor);
}
